.panel.panel-default.card
  .panel-heading.card-header
    .row
      .col-md-10
        %p= trash.trashed_to_s
      .col-md-2.text-right
        = link_to 'Restore', effective_trash.restore_trash_path(trash), class: 'btn btn-primary', data: { confirm: 'Restore this item?'}

  .panel-body.card-body
    - if trash.trashed_extra.present?
      %p= trash.trashed_extra

    .row
      .col-sm-6
        %strong Destroyed at:
        = trash.created_at.strftime("%Y-%m-%d %H:%M:%S")
        = '(' + time_ago_in_words(trash.created_at) + ' ago)'

      .col-sm-6
        - if trash.user.present?
          %strong Destroyed by:
          = trash.user.to_s

    %br

    = tableize_hash(trash.details)

