.panel.panel-default
  .panel-body
    %p= trash.trashed_to_s

    - if trash.trashed_extra.present?
      %p= trash.trashed_extra

    .row
      .col-sm-6
        %strong Destroyed at:
        = trash.created_at.strftime("%Y-%m-%d %H:%M:%S")
        = '(' + time_ago_in_words(trash.created_at) + ' ago)'

      .col-sm-6
        - if trash.user.present?
          %strong Destroyed by:
          = trash.user.to_s

    %br

    = tableize_hash(trash.details)

